[project]
	description = A composable functional processing library for PHP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Prad Raju (prad-a-RuntimeException)
[access "refs/for/refs/*"]
	read = group user/Prad Raju (prad-a-RuntimeException)
	push = group user/Prad Raju (prad-a-RuntimeException)
	label-Code-Review = -2..+2 group user/Prad Raju (prad-a-RuntimeException)
	label-Verified = -1..+1 group user/Prad Raju (prad-a-RuntimeException)
	rebase = group user/Prad Raju (prad-a-RuntimeException)
	removeReviewer = group user/Prad Raju (prad-a-RuntimeException)
	submit = group user/Prad Raju (prad-a-RuntimeException)
[access "refs/heads/*"]
	read = group user/Prad Raju (prad-a-RuntimeException)
	create = group user/Prad Raju (prad-a-RuntimeException)
	push = +force group user/Prad Raju (prad-a-RuntimeException)
	pushMerge = group user/Prad Raju (prad-a-RuntimeException)
[access "refs/tags/*"]
	push = +force group user/Prad Raju (prad-a-RuntimeException)
	pushTag = group user/Prad Raju (prad-a-RuntimeException)
	pushSignedTag = group user/Prad Raju (prad-a-RuntimeException)
